<form action = "/payment/results">
  <label for="rate">APR</label>
  <input type="text" id="rate" name="rate" placeholder = "What rate do you want?">
  <label for="num_years">Number of years</label>
  <input type="text" id="num_years" name="num_years" placeholder = "How many years">
  <label for="pv">Principal</label>
  <input type="text" id="pv" name="pv" placeholder = "What is PV?">
  <button> Calculate monthly payment</button>
  </form>

