<form action = "/random/results">
  <label for="min">Minimum</label>
  <input type="text" id="min" name="min" placeholder = "Minimum">
  <label for="max">Maximum</label>
  <input type="text" id="max" name="max" placeholder = "Maximum">
  <button> Pick random number</button>
</form>
