<h1> Square Root Results </h1>
<dl>
<div> <dt> Number </dt> </div>
<div> <dd><%= @the_num %> </dd> </div>
<div> Square </div>
<div> <dd> <%= @the_result %> </dd> </div>
</dl>
<div> <a href = "/square_root/new"> Calculate another square root </a>
